<!DOCTYPE html>
<html>
<head>
    <title>Font Awesome Icons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/c3a1348cef.js"></script>
    <!--Get your own code at fontawesome.com-->
</head>
<body>

    <h2>Practice Css Flexbox</h2>

    <div class="form-horizontal">

        <div class="title">
            Form Style 1
        </div>
        <div class="row r1">
            <div class="group">
                <label class="label">Name</label>
                <input class="input" type="text" />
            </div>
            <div class="group">
                <label class="label">Case Number</label>
                <input class="input" type="text" />
            </div>
            <div class="group">
                <label class="label">Name</label>
                <input class="input" type="text" />
            </div>
            <div class="group no-right-margin">
                <label class="label">Case Number</label>
                <input class="input" type="text" />
            </div>
        </div>
        <div class="row r2">
            <div class="group">
                <label class="label">Name</label>
                <input class="form-input" type="text" />
            </div>
            <div class="group">
                <label class="label">Case Number</label>
                <input class="input" type="text" />
            </div>
        </div>
        <div class="row r3">
            <div class="group">
                <label class="label">Name</label>
                <input class="form-input" type="text" />
            </div>
            <div class="group">
                <label class="label">Case Number</label>
                <input class="input" type="text" />
            </div>
        </div>
        <div class="horizontal-row">
            <div class="vertical-column">
                <div class="row r4">
                    <div class="group">
                        <label class="label">Name</label>
                        <input class="input" type="text" />
                    </div>
                    <div class="group">
                        <label class="label">Case Number</label>
                        <input class="input" type="text" />
                    </div>
                </div>
                <div class="row no-bottom-margin r5">
                    <div class="group">
                        <label class="label">Name</label>
                        <input class="form-input" type="text" />
                    </div>
                    <div class="group">
                        <label class="label">Case Number</label>
                        <input class="input" type="text" />
                    </div>
                </div>
            </div>
            <div class="vertical-column">
                <div class="row">
                    <div class="group">
                        <label class="label">Name</label>
                        <input class="form-input" type="text" />
                    </div>
                    <div class="group">
                        <label class="label">Case Number</label>
                        <input class="input" type="text" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
