<!DOCTYPE html>
<html>
<head>
    <title>Font Awesome Icons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/c3a1348cef.js"></script>
    <!--Get your own code at fontawesome.com-->
</head>
<body>

    <form class="form">
        <div class="form-title">
            Form Style 1
        </div>
        <div class="row r1">
            <div class="hgroup">
                <label class="label">Name</label>
                <input class="input" type="text" />
            </div>
            <div class="hgroup">
                <label class="label">Case Number</label>
                <input class="input" type="text" />
            </div>
            <div class="hgroup">
                <label class="label">Name</label>
                <input class="input" type="text" />
            </div>
            <div class="hgroup last-hgroup">
                <label class="label">Case Number</label>
                <input class="input" type="text" />
            </div>
        </div>
        <div class="row r2">
            <div class="hgroup">
                <label class="label">Name</label>
                <input class="form-input" type="text" />
            </div>
            <div class="hgroup">
                <label class="label">Case Number</label>
                <input class="input" type="text" />
            </div>
        </div>
        <div class="row r3">
            <div class="hgroup">
                <label class="label">Name</label>
                <input class="form-input" type="text" />
            </div>
            <div class="hgroup">
                <label class="label">Case Number</label>
                <input class="input" type="text" />
            </div>
        </div>


        <div class="row">
            <div class="column">
                <div class="row r4">
                    <div class="hgroup">
                        <label class="label">Name</label>
                        <input class="input" type="text" />
                    </div>
                    <div class="hgroup">
                        <label class="label">Case Number</label>
                        <input class="input" type="text" />
                    </div>
                </div>
                <div class="row last-row-in-column r5">
                    <div class="hgroup">
                        <label class="label">Name</label>
                        <input class="form-input" type="text" />
                    </div>
                    <div class="hgroup">
                        <label class="label">Case Number</label>
                        <input class="input" type="text" />
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="row last-row-in-column">
                    <div class="hgroup">
                        <label class="label">Name</label>
                        <input class="form-input" type="text" />
                    </div>
                    <div class="hgroup">
                        <label class="label">Case Number</label>
                        <input class="input" type="text" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
