body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}

/**************************************************************************/

.row {
  display: flex;
  margin-bottom: 16px;
}

  .row.last-row-in-column {
    margin-bottom: 0px;
  }

.column {
  display: inline-flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 16px;
}

  .last-column-in-row {
    margin-right: 0px;
  }

/***form style default***/
.form {
  display: inline-flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 16px;
}

.form-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 14px;
}

.hgroup {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

  .hgroup.last-hgroup {
    margin-right: 0px;
  }

  .hgroup > .label {
    margin-right: 4px;
    white-space: nowrap;
  }

  .hgroup > .input {
  }




/***for testing***/
.red {
  background-color: lightcoral;
  border: 1px solid black;
}

.white {
  background-color: #d0e2e8;
  border: 1px solid black;
}

.blue {
  background-color: #eee;
  border: 1px solid black;
}
