body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}

/**************************************************************************/

.form-style-1 {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 6px;
  background-color: #eee;
  padding: 16px 10px;
  margin-bottom: 10px;
}

/***form style default***/
.form-style-1 {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 16px;
}

  .form-style-1 .row {
    display: flex;
    margin-bottom: 16px;
  }

  .form-style-1 .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 14px;
    color: red;
  }

  .form-style-1 .group {
    display: flex;
    align-items: center;
    margin-right: 16px;
  }

  .form-style-1 .last-group-in-row {
    margin-right: 4px;
  }

  .form-style-1 .label {
    margin-right: 4px;
    white-space: nowrap;
  }

  .form-style-1 .input {
  }

  .form-style-1 .last-form-row {
    margin-bottom: 0px;
  }




